.logo {
  display: inline-block;

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}

.logo__image {

  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.logo__image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
