.promo {
  position: relative;
  margin-top: -73px;
  filter: drop-shadow(0px 4px 4px $color-black-shadow);

  @include vp-1023 {
    filter: none;
  }
}

.promo__image {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.promo__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: $color-tangaroa;
}

.promo__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 198px;
  padding-right: 40px;
  padding-top: 268px;
  padding-bottom: 276px;

  @include vp-1023 {
    padding-left: 45px;
    padding-right: 24px;
    padding-top: 291px;
    padding-bottom: 274px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 201px;
    padding-bottom: 180px;
  }
}

.promo__wrapper h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: 0px 4px 4px $color-black-shadow;
  margin: 0;
  margin-bottom: 13px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 9px;
  }
}

.promo__wrapper p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0px 4px 4px $color-black-shadow;
  margin: 0;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    padding-right: 60px;
  }
}
