.social__link {
  display: flex;

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}

.social__link-icon {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
